<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


@await Component.InvokeAsync("EasterEgg")

@Html.Raw("<p>Bu bir HTML Helper kullanımıdır.</p>")
@CustomHtmlHelper.CustomMethod()
@addTagHelper *, farkli1001fikir
<a asp-controller="Home" asp-action="About">Hakkımızda</a>
<custom-tag-helper attribute1="value1" attribute2="value2"></custom-tag-helper>

<button id="showAlertButton" class="btn btn-primary">Sweetalert Butonu</button>

<script>
    document.getElementById('showAlertButton').addEventListener('click', function () {
        Swal.fire({
            title: 'SweetAlert Başlık',
            text: 'Bu bir SweetAlert Örneğidir!',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    });
</script>
