@{
    ViewData["Title"] = "Yardım";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1001 Fikir Yardım</title>
</head>
<body>

    <main>
        <section>
            <h2>1. Üye Olma ve Giriş Yapma</h2>
            <p>
                - Ana sayfanın üst sağ köşesinde bulunan "Üye Ol" butonuna tıklayın.<br>
                - Gerekli bilgileri doldurarak kayıt işlemini tamamlayın.<br>
                - Kayıt olduktan sonra "Giriş Yap" seçeneği ile kullanıcı adı ve şifrenizle giriş yapabilirsiniz.
            </p>
        </section>

        <section>
            <h2>2. Fikir Paylaşma</h2>
            <p>
                - Giriş yaptıktan sonra ana sayfanın üst kısmında bulunan "Kart Oluştur" butonuna tıklayın.<br>
                - Fikrinizi başlık ve açıklama ile belirtin.<br>
                - Fikrinizi yayınlamadan önce gözden geçirin ve gerekirse düzenlemeler yapın.<br>
                - "Kaydet" butonu ile fikrinizi platformla paylaşın.
            </p>
        </section>

        <section>
            <h2>3. Fikirlere Oy Verme ve Yorum Yapma</h2>
            <p>
                - Ana sayfada gördüğünüz fikirlere "Olumlu" veya "Olumsuz" butonlarıyla oy verebilirsiniz.<br>
                - Fikir kartının üzerine tıklayarak detayları görebilir ve altında bulunan yorum bölümüne kendi düşüncelerinizi ekleyebilirsiniz.
            </p>
        </section>

        <section>
            <h2>4. Profil Yönetimi</h2>
            <p>
                - Profil sayfasına giderek adınızı, soyadınızı, e-posta adresinizi ve şifrenizi görebilir ve güncelleyebilirsiniz.
            </p>
        </section>

        <section>
            <h2>5. Fikir Kartları Nerede?</h2>
            <p>
                - Ana sayfanın üst kısmındaki "Kartları Keşfet" sekmesine tıklayarak platformunda paylaşılan kartları inceleyebilirsiniz.
            </p>
        </section>

        <section>
            <h2>6. İletişim</h2>
            <p>
                - Herhangi bir sorunuz veya öneriniz varsa, gercekbirsirket@isparta.sk e-postasından bize ulaşabilirsiniz.
            </p>
        </section>
    </main>

</body>
</html>
