@{
    ViewData["Title"] = "1001 Fikir Ana Sayfası";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz!</h1>
    <p>1001 Farklı Fikir, fikirlerinizi paylaşabileceğiniz ve diğer kullanıcılarla tartışabileceğiniz bir platformdur. Genç nüfusun yaratıcı düşüncelerini bir araya getirmeyi amaçlayan bu platformda, herkesin sesi eşit değerdedir.</p>
    <img src="~/1001farklifikir.png" alt="1001 Fikir Logo">
</div>

<div class="text-center mt-4">
    <h2>Öne Çıkan Fikirler</h2>
    <p>Son eklenen veya popüler olan fikirleri "Kartları Keşfet" bölümünde bulabilirsiniz. Siz de kendi fikirlerinizi paylaşmak için hemen üye olabilirsiniz!</p>
</div>

<div class="text-center mt-4">
    <h3>Nasıl Başlayabilirsiniz?</h3>
    <ol>
        <li><strong>Üye Olun:</strong> Platforma katılmak için hemen üye olun ve fikirlerinizi paylaşmaya başlayın.</li>
        <li><strong>Fikir Ekleyin:</strong> Yeni ve özgün fikirlerinizi paylaşın. Topluluğumuzun düşüncelerini öğrenmek için sabırsızlanıyoruz!</li>
        <li><strong>Oylama ve Yorum:</strong> Diğer kullanıcıların fikirlerini değerlendirin, oy verin ve yorum yapın. Birlikte daha iyi fikirlerin peşinde koşalım!</li>
    </ol>
    
    <p>Eğer platformumuz hakkında daha fazla bilgiye ihtiyacınız varsa, Yardım sayfamızı ziyaret edebilir veya Hakkımızda sayfasından bizimle tanışabilirsiniz.</p>
</div>
