@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Kayıt olma doğrulaması";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    TODO. Şimdilik kaydınızı doğrulamak için bu linke tıklayınız: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

